body {
  margin: 0;
}

.nav-bar {
  border-bottom: 1px solid #d0d0d194;
  width: 100%;
  background-color: #ffffff;
}

.nav-right {
  text-decoration: none;
  display: inline;
  float: right;
  padding-left: 1%;

}

.nav-bar a {
  text-decoration: none;
  color: black;
}

#logo {
  font-size: 1.3em;
  font-weight: bold;
}
