.signup-container {
  margin: 5% auto;
  width: 25%;
  padding-left: 3%;
  padding-bottom: 2%;
  display: grid;
  border: 1px solid #aaa9a97c;
  border-radius: 2px;
}

.signup-container input {
  margin-left: 2%;
  margin-bottom: 2%;
  width: 100%;
  box-sizing : border-box;
}

.signup-container label {
  /* margin-left: 2%; */
  margin: 0 auto;
}

#submit-btn {
  font-size: 1.2em;
  width: 100%;
  margin-top: 2%;
}

.form-title {
  grid-column: 1 / 5;
  font-size: 2em;
  text-align: left;
  text-transform: uppercase;
}

.form-entry {
  text-align: center;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}